<!-- this file needs to be in C:\Users\<Username>\AppData\Roaming\Albion\ 
or if photon is configured as a service in C:\Windows\system32\config\systemprofile\AppData\Roaming  
-->
<settings>
    <!-- <setting name="Cluster_Override" value="Cluster_Debug" /> -->    
    <setting name="Cheats_Enabled" value="true" />
    <setting name="AutoCheatList" value="#unlockall#god" />
	<setting name="SkipTutorial" value="false" />
    <setting name="ShowServerSelection" value="true" />
    <setting name="NetworkLogFile" value="true" />
    <setting name="ShowMovePacketsInNetworkLogFile" value="false" />
    <setting name="OnlyDebugClusters" value="false" />
    <setting name="StartStaticClusterOnDemand" value="false" />
    <setting name="RequireNtpService" value="false" />
    <setting name="LogoutTimeSeconds" value="20" /> 
    <setting name="AreaRespawnNoWait" value="true" /> 
    <setting name="LocalizationFallback" value="false" />   
    <setting name="AlwaysMidday" value="true" />    
	<setting name="NoInactivityLogoutForAdminAccounts" value="true" />
	<setting name="IgnoreMaxDeletedCharactersLimit" value="false" />
	<setting name="Macro1" value="#newbuilding t2forge force"/>
	<setting name="Macro2" value="#newitem t1rock #newitem t2wood"/>	
</settings>



